services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    restart: unless-stopped
    volumes:
      - ./uptime-data:/app/data
  frontend:
    build: website/
    restart: unless-stopped
    env_file: "website/.env"
  backend:
    build: api/
    links:
      - db
    restart: unless-stopped
    env_file: "api/.env"
  caddy:
    image: caddy
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - $PWD/conf:/etc/caddy
      - caddy_data:/data
      - caddy_config:/config
      - /home/hazel/hazelpersonal:/var/www/hazel.legiti.dev
  anubis:
    image: ghcr.io/techarohq/anubis:latest
    environment:
      BIND: ":3000"
      TARGET: http://frontend:3002
  db:
    image: mongo
    restart: unless-stopped
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
volumes:
  caddy_data:
  caddy_config:
