api.legiti.dev {
	reverse_proxy backend:3000
}

legiti.dev {
	reverse_proxy http://anubis:3000 {
		header_up X-Real-Ip {remote_host}
		header_up X-Http-Version {http.request.proto}
	}
}

hazel.legiti.dev {
	root * /home/hazel/hazelpersonal
	file_server
}
