api.legiti.dev {
	reverse_proxy backend:3000
}

legiti.dev {
	reverse_proxy http://anubis:3000 {
		header_up X-Real-Ip {remote_host}
		header_up X-Http-Version {http.request.proto}
  }
}


hazel.legiti.dev {
	handle_path /adv/* {
		reverse_proxy localhost:3004
	}
	root * /var/www/hazel.legiti.dev
	file_server
}

rawr.legiti.dev {
  handle /static {
    reverse_proxy https://us-assets.i.posthog.com:443 {
      header_up Host us-assets.i.posthog.com
      header_down -Access-Control-Allow-Origin
    }
  }
  handle {
    reverse_proxy https://us.i.posthog.com:443 {
      header_up Host us.i.posthog.com
      header_down -Access-Control-Allow-Origin
    }
  }
}
